
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/*******************************************************
                    Main Page Styles
*********************************************************/

body {
  color: #fff;
  font-size: 18px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: darkslategrey;
}

main {
  margin: 0 auto;
  padding-top: 50px;
}

a, p {
  text-align: center;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding-bottom: 20px;
}

a:visited {
  color: #fff;
}

section {
  width: 1000px;
  margin: 0 auto;
  display: block;
}

.border: {
  border-left: 5px solid green;
}

dl {
  width: 980px;
  margin: 5px auto;
  text-align: left;
  background-color: lightgrey;
  padding: 25px;
  float: left;
  border-left: 5px solid lightgrey;
}

dl:hover {
  border-left: 5px solid darkorange;
}

dt, dl {
  color: #000;
}

dt {
  font-weight: bold;
  padding-bottom: 10px;
}

dd {
  margin-left: 0;
  font-size: 15px;
}

/********************************************************
        Expanding Search Bar - CSS Only Version
*********************************************************/

.expSearchBox {
  margin: 0 auto;
}

.expSearchFrom:focus {
  margin-left: -30px;
}

.expSearchFrom {
  border: 2px solid darkorange;
  border-radius: 20px;
  display: inline-block;
  height: 34px;
  position: relative;
  left: 48.5%;
}

input#field{
  cursor:pointer;
  border:none;
  background:transparent;
  height:30px;
  width:0px;
  line-height:0px;
  vertical-align:top;
  padding:0px 15px;
  -webkit-transition: width .5s; 
  transition: width .5s; 
  position:relative;
  z-index:2;
  font-size: 16px;
  color: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input#field:focus{
  width:200px;
  outline:none;
  margin-right:30px;
}

.close {
  position:absolute;
  width:30px;
  height:30px;
  top:0px;
  right:0px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;   
  z-index:1
}

.close span {
  background: darkorange none repeat scroll 0 0;
  border-radius: 2px;
  display: block;
  height: 2.5px;
  position: absolute;
  right: -7px;
  top: 29px;
  width: 13px;

  -webkit-transition: .2s .5s ease-in-out ;
  -moz-transition: .2s .5s ease-in-out;
  -o-transition: .2s .5s ease-in-out;
  transition: .2s .5s ease-in-out;    
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);    
}

.close span.back {
  top:12px;
  right:5px;
  opacity:0;
}

input#field:focus + .close span{
  top:12px;
  right:5px;
}

input#field:focus + .close span.back{
  -webkit-transition: .5s .7s ease-in-out ;
  -moz-transition: .5s .7s ease-in-out;
  -o-transition: .5s .7s ease-in-out;
  transition: .5s .7s ease-in-out;    
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity:1;
} 
