/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/********** END **********/

body {
  background: url('https://www.walldevil.com/wallpapers/a68/wallpaper-black-backg-texture-stones-textured-wallpapers.jpg')
}

main {
  width: 340px;
  border-radius: 15px;
  background-color: #000;
  padding: 20px 20px 20px 25px;
  margin: 50px auto 50px auto;
  box-shadow: 12px 8px 85px 12px #3b444c;
}

section {
  position: relative;
  width: 327px; 
  height: 160px;
  border-radius: 20px;
  padding: 5px;
  margin: 0 0 15px -8px;
  background-color: #e8d9c5;
  border: 8px solid darkgrey;
  border-style: inset;
}

div {
  padding-left: 1px;
}

#clear {
  display: inline-block;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: dimgrey;
}

button:hover {
  background-color: rgba(105, 105, 105, .85);
  cursor: pointer;
}

button:focus {
  outline: none;
}

#zero {
  width: 164px;
  text-align: left;
  padding-left: 32px;
  border-radius: 55px;
  vertical-align: bottom;
}

#ac, #negative, #percent {
  color: #000 ;
  background-color: lightgrey;
}

#ac:hover, #negative:hover, #percent:hover {
  background-color: rgba(211, 211, 211, .8);
}

#divide, #multiply, #subtract, 
#add, #equals {
  color: #fff;
  background-color: orange;
}

#divide:hover, #multiply:hover, 
#subtract:hover, #add:hover,
#equal:hover {
  background-color: rgba(255, 165, 0, .85);
}

#newVal, #total {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 40px;
  text-align: bottom;
  font-family: helvetica, Arial, sans-serif;
}

#total {
  position: absolute; 
  right: 26px;
  bottom: 10px;  
}